*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height:100%
}
body {
  margin:0;
  height:100%;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}
